.experience_list{
    height: 100%;
}
.experience_item_date{
    width: 100%;
    .experience_date_data{
        font-size: 14px;
        color: #94a3b8;
    }
}
.experience_item_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 16%;
    width: 100%;
    gap: 0.25rem;
    .experience_content_up{
        line-height: 35px;
        h3 {
            font-size: 22px;
            font-weight: 400;
        }
        h4 {
            font-size: 16px;
            font-weight: 300;
            text-decoration: underline;
            color: #c8cfd8;
        }
    }
    .experience_content_middle{
        font-size: 14px;
        line-height: 25px;
        color: #94a3b8;
        margin-bottom: 10px;
    }
    .experience_content_bottom{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .experience_skills_list{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            align-items: center;
            gap: 0.25rem;
            .experience_technology{
                font-size: 12px;
                color: #bfdbfe;

                padding-bottom: 0.25rem;
                padding-top: 0.25rem;
                padding-right: 0.75rem;
                padding-left: 0.75rem;

                background-color: #172554;
                border-radius: 999px;
            }
        }
    }
}