.projects_list{
    height: 100%;
}
.projects_item_image{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    .projects_img{
        width: 70%;
        border-radius: 5px;
        transition: transform 0.5s ease-in-out;
        
    }
}
.projects_item_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 16%;
    width: 70%;
    gap: 0.25rem;
    .projects_content_up{
        .projects_link{
            font-size: 18px;
            font-weight: 300;
        }
    }
    .projects_content_middle{
        font-size: 14px;
        line-height: 25px;
        color: #94a3b8;
    }
    .projects_content_bottom{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .projects_technologies_list{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            align-items: center;
            gap: 0.25rem;
            .projects_technology{
                font-size: 12px;
                color: #bfdbfe;

                padding-bottom: 0.25rem;
                padding-top: 0.25rem;
                padding-right: 0.75rem;
                padding-left: 0.75rem;

                background-color: #172554;
                border-radius: 999px;
            }
        }
    }
}