@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #030f29;
    color: #eaeaea;
}

.social-links svg{
    color: #475569;
}

.social-links svg:hover{
    color: #eaeaea;
}
